<tr>
    <td><a href="#/songs/{{song.id_music}}">{{song.title_music}}</a></td>
    <td>{{song.artist_music}}</td>
    <td>{{song.album_music}}</td>
    <td>{{song.year_music}}</td>
    <td>{{song.duration | duree}}</td>
    <td>
        <button type="button" >
                   &#8883;
        </button>
        <button type="button"  >
                    &#9724;
        </button>
        <input type='button' value="supprimer" ng-click="$emit('remove', song)">
        <input type='button' value="modifier" ng-click="$emit('showSong', song)">
    </td>
    <!--  ng-click="$emit('remove', song)" -->
</tr>


